/*
  Site Name: Eric Rees Portfolio Website
  Author: Eric Rees

  Stylesheet: Main Stylesheet
  Version: 0.1 
*/


// Bootstrap
@import "~bootstrap/scss/bootstrap";


// Modules
@import "modules/global";
@import "modules/front-page";